<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 9B Exercise 1</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <h1><a href="./index.html">Link to Start Page</a></h1>
    <h2>Sample form</h2>
    <h3>View console to see JavaScript output</h3>
    <form action="action.py" target="_blank" method="POST">
    Name: <input type="text" name="Name" placeholder="Name"><br>
    Email: <input type="text" name="Email" placeholder="name@domain">
    <br>
    Payment Type: <br>
    <input type="radio" name="pmt" value="cash">Cash<br>
    <input type="radio" name="pmt" value="credit">Credit card<br>
    <input type="radio" name="pmt" value="debit">Google Pay <br>
    <input type="radio" name="pmt" value="debit">Amazon Pay <br>
    <br>
    <input type="checkbox"> Sign me up for special promotions <br>
    Preferred Location: <select name="location">
    <option value="location 1">Los Angeles</option> <br>
    <option value="location 1">Orange County</option>
    <option value="location 1">Riverside</option>
    <option value="location 1">San Diego</option>
    </select>
    <br>
    <input type="submit" name="submit">
    <input type="reset" name="cancel">
    </form>
</body>
</html>