<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 9B Exercise 1</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <h1><a href="./index.html">Link to Start Page</a></h1>
    <h2>Sample form</h2>
    <h3>View console to see JavaScript output</h3>
    <form action="action.py" target="_blank" method="POST">
        <p>
            <label for="name">Name</label>:
            <input type="text" name="name" id="name" required>
        </p>
        <p>
            <label for="email">Email</label>:
            <input type="email" name="email" id="email" required>
        </p>

        <p>
            <label for="payment">Payment Type</label>:
            <br>
            <input type="radio" value="Cash" name="payment" required> Cash
            <br>
            <input type="radio" value="CC" name="payment" required> Credit Card
            <br>
            <input type="radio" value="gpay" name="payment" required> Google Pay
            <br>
            <input type="radio" value="apple pay" name="payment" required> Apple Pay
        </p>
        <p>
            <label><input type="checkbox" name="checkbox" id="value">Sign me up for special promotions</label>
        </p>
        <p>
            <label for="country">Preferred Location</label>:
            <select id="country">
                <option value="LA">Los Angeles</option>
                <option value="OC">Orange County</option>
                <option value="RS">Riverside</option>
                <option value="SD">San Diego</option>
            </select>
        </p>
        <button type="button" value="Submit" onclick="fetchAndSetData();">Submit</button>
        <button type="reset" value="Reset">Cancel</button>
    </form>
    <div id="result"></div>

    <script src="../public/ex1.js"></script>
</body>

</html>